.yap-dog-box {
    width: 0px;
    height: 80px;
    
    position: absolute;
    cursor: pointer;
  }

  .yap-dog {
    animation: yap-dog 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: -80px;
    transform: translateY(-100%);
    width: 70px;
    height: 70px;
  }

  @keyframes yap-dog {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes yap-dog-repeat {
    0% {
      transform: translateY(-75%);
    }
    
    50% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-75%);
    }
  }

  .yap-dog-box:not(:hover) .yap-dog {
    animation: yap-dog-repeat 3s infinite;
  }
  
  .yap-dog-box:hover .yap-dog {
        animation: yap-dog 2s infinite;
  }